*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*Header*/
header{
    background-color: #FF6900;
    width: 100%;
    height: 60px; 
    color: #fff; 
    position: fixed;
    z-index: 5; 
    top: 0; 
    box-shadow: 0 0 5px #666;
    
}  
/*utilities*/ 
body{
    margin-top: 110px;
}
 .wi-33{
    width: calc(100% / 3); 

 }
.height{
    height: 40px;
} 

.txt-right{
    text-align: right;
} 

.container{
    width: 70%;
    height: 100%; 
    margin: 0 auto; 
    margin-top: 70px;
}

.row{
    margin-top: 50px;
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}  
.right{
    justify-content: right;
}
 
i{ 
    margin-top: 13px;
    margin-right: 10px;

   }

.flex-align{
    display: flex; 
    align-items: center;
    
}
ul{
    list-style-type: none; 
}
    
/* Navbar*/ 
.navbar{
    margin-top: 22px;
}

a{
    text-decoration: none;
    color: #fff; 

    margin-right: 10px;
}
.container{
    width: 70%;
    height: 100%; 
    margin: 0 auto;
}
.logo-img{
    width: 130px; 
    display: block;
} 

/* main*/ 
.column{
    display: flex; 
    gap: 10px;
}
.card{
    width: calc(100% / 3);
     
    position: relative;
    
} 
img{
    max-width: 100%; 
    display: block;
} 



.info{
    padding: 2px 5px;
    position: absolute;
    bottom: 70px;
    color: #fff; 
    
} 

/*target info*/
.discount{
    background-color: rgb(255, 0, 0); 
    left: 0;
} 
 
.ecology{
    background-color: #008000; 
    left:50px;
}  

.ecology.ahed{
    left: 0;
}

.brand{
    font-size: 12px;
} 
 
.priece{
    font-size: 12px;
} 
 


.original{
 text-decoration: line-through;
} 
 /*hover elements*/
.heart{ 
    background-color: #fff;
    position: absolute;
    top: 3px;
    right: 0; 
    padding: 5px; 
    font-size: 24px;
} 

.heart:hover{
    color: red; 
} 

.second-img{ 
    display: none;

} 

.card:hover .second-img{ 
    display: block; 

    
} 
 
.card:hover .first-img{ 
    display: none; 

    
}  

/*footer*/

footer{
    height: 100px;
    background-color: #000; 
    color: #fff; 
    margin-top: 30px;
} 
.foot-left, .foot-right{
    width: 50%;
    display: inline-block;
    padding-top: 25px;
}
.foot-right{
    display: flex;
    align-items: flex-end; 
    flex-direction: column;
    
}

h3{ 
    margin-bottom: 12px; 
    font-size: 20px;
} 

.foot-brands{
    margin-top: 12px;
}